.app-download{
    padding: 0px 30px;
    text-align: center;
    animation: fadeIn 2s;
}

.job-btn-box{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.app-download p{
    color: #fff;
}

.job-btn-box button{
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(25, 45, 228, 0.884);
}


.job-btn-box button:nth-child(2){
    background-color: #fff;
    color: blue;
    font-weight: 600;
}