.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1{
    cursor: pointer;
}

.navbar h1 span{
    color: tomato;
}

.navbar ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.navbar ul li{
    font-size: 17px;
}