.jobinfoitems{
    padding: 20px 20px;
    animation: fadeIn 2s;
}

@media(max-width: 420px){
    .job-info{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .job-info p{
        background-color: rgba(45, 48, 75, 0.952);
        color: #fff;
        text-align: center;
        border-radius: 40px;
        padding: 8px 10px;
        font-size: 14px;
        width: 200px;
        margin: 0px 53px;
    }
    
    .job-info h1{
        font-size: 34px;
        text-align: center;
        margin-top: 5px;
        text-transform: none;
        color: rgba(12, 81, 170, 0.897);
        font-weight: 900;
    }

    .search-job{
        margin-top: 25px;
        text-align: center;
    }

    .search-job label{
        font-size: 18px;
        font-weight: bold;
    }

    .search-box{
        width: 100%;
        height: 40px;
        border: 0px solid #ccc;
        border: 1px solid #ccc;
        border-radius: 50px;
        background-color: #fff;
    }

    .search-box input{
        width: 70%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 0px;
        font-size: 15px;
        margin-left: 15px;
    }

    .search-box button{
        width: 25%;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: rgba(12, 81, 170, 0.897);
        color: #fff;
        border-radius: 50px;
    }
}