.jobinfoitems{
    padding: 20px 20px;
}

@media(max-width: 420px){
    .job-info{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .job-info p{
        background-color: rgba(45, 48, 75, 0.952);
        color: #fff;
        text-align: center;
        border-radius: 40px;
        padding: 8px 10px;
        font-size: 14px;
        width: 200px;
        margin: 0px 70px;
    }
    
    .job-info h1{
        font-size: 34px;
        text-align: center;
        margin-top: 5px;
        text-transform: none;
    }

    .search-job{
        margin-top: 12px;
    }

    .search-job label{
        font-size: 18px;
        font-weight: bold;
    }
}