.jobinfoitems{
    padding: 20px 20px;
    animation: fadeIn 2s;   
}

@media(max-width: 420px){
    .jobinfoitems{
        background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.9)),url('../../assets/jobBackground.png');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        margin-top: 60px;
    }

    .job-info{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .job-info p{
        background-color: rgba(45, 48, 75, 0.952);
        color: #fff;
        text-align: center;
        border-radius: 40px;
        padding: 8px 10px;
        font-size: 14px;
        width: 200px;
        margin: 0px 53px;
    }
    
    .job-info h1{
        font-size: 34px;
        text-align: center;
        margin-top: 5px;
        text-transform: none;
        color: #fff;
        font-weight: 900;
    }

    .search-job{
        margin-top: 20px;
        text-align: center;
    }

    .search-job label{
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }

    .search-box{
        width: 100%;
        height: 40px;
        border: 0px solid #ccc;
        border: 1px solid #ccc;
        border-radius: 50px;
        background-color: #fff;
    }

    .search-box input{
        width: 70%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 0px;
        font-size: 15px;
        margin-left: 15px;
    }

    .search-box button{
        width: 25%;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: rgba(12, 81, 170, 0.897);
        color: #fff;
        border-radius: 50px;
    }

    .app-download{
        padding: 0px 30px;
        text-align: center;
        animation: fadeIn 1s;
        margin-top: 30px;
    }
    
    .job-btn-box{
        margin-top: 20px;
        /* border: 1px solid #000; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .app-download p{
        color: #fff;
    }
    
    .job-btn-box button{
        padding: 10px 20px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50px;
        color: #fff;
        background-color: rgba(25, 45, 228, 0.884);
    }
    
    
    .job-btn-box button:nth-child(2){
        background-color: #fff;
        color: blue;
        font-weight: 600;
    }

    .job-apply{
        border: 0px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 10;
    }
    .job-apply div{
        color: #fff;
        border: 1px solid #fff;
        padding: 10px 10px;
        font-size: 12px;
        margin: 0px 6px;
    }
}

